<% layout('layout/main') -%>
<%- stylesheet('/stylesheets/blog-home.css') %>
<%- stylesheet('/stylesheets/contact.css') %>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1 class="page-header">
            О нас
        </h1>
	</div>
    <div class="col-md-2"></div>
</div>