<% layout('layout/main') -%>
<%- stylesheet('/stylesheets/blog-home.css') %>
<%- stylesheet('/stylesheets/contact.css') %>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1 class="page-header">
            О проекте
        </h1>

        <p class="lead"><strong>Opennews</strong> - это открытая и свободная площадка, где пользователи могут разещать свои новости.</p> 

        <blockquote>
            <p>В свободном мире без границ Интернет должен быть свободным и открытым</p>
        </blockquote>

        <p class="lead">Интернет дает много возможностей: здесь каждый волен высказываться, творить, учиться и делиться информацией. Интернет независим: его не контролирует отдельная организация, человек или правительство. Интернет объединяет мир. Сегодня этой глобальной сетью пользуются более двух миллиардов человек – почти треть жителей Земли.</p>
        
        <address>
            <strong>Twitter, Inc.</strong><br>
            1355 Market Street, Suite 900<br>
            San Francisco, CA 94103<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>

        <address>
            <strong>Full Name</strong><br>
            <a href="mailto:#">first.last@example.com</a>
        </address>
	</div>
    <div class="col-md-2"></div>
</div>